<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.tkalenko.hibernate.sqlite.utils.SQLiteDialect</property>
        <property name="connection.url">jdbc:sqlite:C:/test/test.db</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <!-- лучше было бы настроить через JNDI, но это если сильно нужно будет, а для теста сойдет -->

        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <mapping class="org.tkalenko.hibernate.entity.User" />
    </session-factory>
</hibernate-configuration>