<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="all.file" class="org.apache.log4j.FileAppender">
        <param name="file" value="C:/log/all.log" />
        <param name="append" value="true" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>
    <appender name="project.file" class="org.apache.log4j.FileAppender">
        <param name="file" value="C:/log/project.log" />
        <param name="append" value="true" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <logger name="org.springframework.security.web">
        <level value="TRACE"/>
    </logger>
    <logger name="org.tkalenko">
        <appender-ref ref="project.file"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="debug" />
        <appender-ref ref="all.file" />
        <!--<appender-ref ref="project.file" />-->
    </root>

</log4j:configuration>
