<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">


    <beans:bean id="restAuthenticationEntryPoint" class="org.tkalenko.spring.security.RestAuthenticationEntryPoint"/>
    <beans:bean id="authenticationTokenProcessingFilter" class="org.tkalenko.spring.security.TokenAuthenticationFilter">
        <beans:constructor-arg type="java.lang.String">
            <beans:value>/rest/**</beans:value>
        </beans:constructor-arg>
    </beans:bean>

    <http auto-config="true" pattern="/rest/login**" security="none" />

    <http auto-config="false"
          pattern="/rest/**"
          use-expressions="true"
          create-session="stateless"
          entry-point-ref="restAuthenticationEntryPoint">
        <custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER"/>
        <intercept-url pattern="/rest/**" access="isAuthenticated()"/>
        <logout/>
        <csrf disabled="true"/>
    </http>

    <beans:bean id="myUserDetailsService" class="org.tkalenko.spring.security.MyUserDetailsService"/>
    <authentication-manager>
        <authentication-provider user-service-ref="myUserDetailsService"/>
    </authentication-manager>

</beans:beans>